<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Boobr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EE2E3441FC44E5A000F201D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EE2E3601FC44E5B000F201D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EE2E36B1FC44E5B000F201D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
